body{
   background-color:#f4f4f4;
   color:#555;
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   line-height:1.6em;
   margin:10px;
}

html {
    font-family: helvetica, arial;
  }
  #showContainer {
    /* Main wrapper for all images */
    width: 670px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .navButton {
    /* Make buttons look nice */ 
    cursor: pointer;
    float: left;
    width: 25px;
    height: 22px;
    padding: 10px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #000000;
    opacity: 0.65;
    user-select: none;
  }
  .navButton:hover {
    opacity: 1;
  }
  .caption {
    float: right;
  }
  .imageContainer:not(:first-child) {
    /* Hide all images except the first */
    display: none;
  }

.container-2 div{
  border:2px #ccc solid;
  padding:10px;
}

#main-header{
   background-color:coral;
   color:#fff;
   text-align:center;
   margin:25px;
}

#navbar{
   background-color:#555;
   color:#fff;
   margin:25px;
}

#navbar ul{
   padding:0;
   list-style:none;
}

#navbar li{
   display:inline; 
}

#navbar a{
   color:#fff;
   text-decoration:none;
   font-size:18px;
   padding-right:30px;
}

#navbar .current a{
   color:coral;
}

#showcase{
   background-image:url('../images/Star_and_Baxter.JPG');
   background-position: center;
   min-height:400px;
   margin-bottom:30px;
   text-align:center;
}

#showcase h1{
   color:#fff;
   font-size:50px;
   line-height:1.6em;
   padding-top:20px;
}

#main{
   padding:20px;
   box-sizing:border-box;
}

#main-footer{
   background:#555;
   color:#fff;
   text-align:center;
   padding:20px;
   margin-top:40px;
}

.container h2{
   background-color:coral;
   color:#fff;
   text-align:center;
   padding:20px;
}

.my-form{
   padding:20px;
}

.my-form .form-group{
   padding-bottom:15px;
}

.my-form label{
   display:block;
}

.my-form input[type="text"], .my-form textarea{
   padding:8px;
   width:50%;
}

.button{
     background-color:#e8491d;
     color:#000;
     padding:10px 15px;
     border:2px red solid;
     font-size:14px;
}

      @media(min-width:700px){
        .container{
         width:80%;
         margin:auto;
         overflow:hidden;
        }
      
        .container-1{
           display:flex;
        }
      }
      
      @media(min-width:500px){
      
        .container-2{
           display:flex;
           flex-wrap:wrap;
        }
      }
      